// Colors - Main
//


@docs-color-enactcyan: #5582ff;
@docs-color-accent1: yellowgreen;
@docs-color-accent2: #FF9800;
@docs-color-accent3: #5dc4ff;
@docs-color-gray-light: #EAEAEA;
@docs-color-gray: #a9a9a9;
@docs-color-gray-dark: #667;

// Body
@docs-body-bg-color: @docs-color-gray-light;

// Balloon
@docs-balloon-bg-color: #ffdd33;
@docs-balloon-text-color: #666;

// Header
@docs-header-bg-color: white;
@docs-header-text-color: @docs-color-gray-dark;
@docs-header-logo-color: @docs-color-enactcyan;

// Site Sections
@docs-section-emphasize-bg-color: white;
@docs-section-message-bg-color: #A9A9A9;
@docs-section-message-text-color: white;
