// General CSS file
//


& {
	@import "./variables.less";
	@import "./colors.less";
	@import "./mixins.less";
	@import "./mixins.less";

	@docs-sidebar-margin: 6%;

	//
	// Elements
	//
	html,
	body {
		position: absolute;
		min-height: 100%;
		width: 100%;
	}
	html {
		font-size: 14px;
	}
	body {
		// color: fade(black, 60%);
		background-color: @docs-body-bg-color;
		font-family: "Museo Sans", sans-serif;
		font-size: 1em;
		font-weight: 300;
		padding-top: 76px;	// Sizing allowance for the fixed header
	}
	footer {
		position: absolute;
		width: 100%;
		bottom: 0;
	}

	strong {
		font-weight: 500;
		color: black;
	}

	em {
		font-weight: 500;
		font-style: normal; // No italics on the website, reclassify em as almost as bold as strong
	}

	a:link,
	a:hover,
	a:active,
	a:visited {
		color: @docs-color-enactcyan;
		text-decoration: none;
	}

	:global(.covertLinks) {
		a:link,
		a:hover,
		a:active,
		a:visited {
			color: inherit;
		}
	}

	// Regardless of the scenario, a hovered link should be enact-cyan
	a:hover,
	strong a:hover,
	a:hover strong,
	:global(.covertLinks) a:hover {
		color: @docs-color-enactcyan;
	}

	p {
		line-height: 1.5em;
		letter-spacing: 0.07ex;
	}

	*[data-tooltip] {
		position: relative;

		&::after {
			content: attr(data-tooltip);
			position: absolute;
			top: 100%;
			left: 50%;
			display: none;
			background-color: lighten(@docs-balloon-bg-color, 30%); //#ffeeaa;
			border: 1px solid @docs-balloon-bg-color;
			padding: 0 0.7em;
			font-size: 70%;
			z-index: 1;
			border-radius: 3em;
			border-top-left-radius: 0;
			color: @docs-balloon-text-color;
			pointer-events: none;
			line-height: 150%;
		}
		&:hover::after {
			display: block;
		}
	}

	.multiColumn {
		.sidebar,
		.moduleBody {
			padding-top: 4em;
		}

		.sidebar {
			position: relative;
			width: 25em;
			max-width: 30%;
			margin: 0 @docs-sidebar-margin 1ex 0;
			border-right: 1px solid fade(black, 15%);
			color: fade(black, 60%);

			&:hover {
				.moduleInterface {
					transform: translateX(95%);
				}
			}

			h2,
			ul {
				font-size: 100%;
				line-height: 1.4em;

				a {
					display: block;
				}
			}

			h2 {
				margin: 1em 0 0.5em 0;
				font-weight: 300;
			}

			ul {
				list-style: none;
				margin: 0 0 3em 0;

				li {
					margin: 0.5em 0 0.8em 2ex;
				}
			}

			.active {
				font-weight: 500;
				color: black;
			}
		}
		.modulesList {
			position: relative;
			z-index: 2;
			padding: 1ex 2ex 1ex 0;
			height: 100%;
		}
		.moduleInterface {
			position: absolute;
			background-color: lighten(@docs-color-enactcyan, 32%);	// These % values are volatile. They should be, respectively 2 and 1 % away from white, but "relative" vs "absolute" coloring in LESS doesn't seem to work in our version.
			top: 0;
			left: 3px;
			bottom: 0;
			width: 100%;
			z-index: 1;
			box-shadow: 0 0 0 5px white;
			border-right: 3px solid yellowgreen;
			border-radius: 0 11px 11px 0;
			will-change: transform;
			transition: transform 200ms ease-out;
			padding: 1ex 1ex 1ex 2ex;
			transition-delay: 200ms;

			&::before {
				content: '‣';
				font-family: Monaco, Courier, "Courier New", fixed;
				display: block;
				position: absolute;
				top: 30px;
				right: 0;
				background-color: yellowgreen;
				padding: 0.25em 0.4em;
				transform: translateX(100%);
				border-radius: 0 6px 6px 0;
				color: white;
				font-weight: bold;
			}

			h2 {
				text-align: center;
				border-bottom: 1px solid fade(black, 10%);
				margin-bottom: 0.5em;
			}
		}
		.moduleBody {
			.moduleTypesKey {
				text-align: center;
				margin-bottom: 0.2em;
			}
		}
	}

	h1 {
		// border-top: 3px solid @docs-color-accent1;
		// border-radius: 1em;
		font-weight: 300;
		// letter-spacing: 0.15ex;
		line-height: 1.6em;
		// text-align: center;
		font-size: 250%;
		color: rgba(0, 0, 0, 0.6);

		img {
			margin: 0 1ex 0 0;
			height: 1.5em;
			vertical-align: text-bottom;
		}
	}
	.caption {
		margin: 0 0 3em;
	}

	//
	// Classes
	//
	.article {
		max-width: @docs-site-max-width;
		padding: 0 @docs-site-edge-keepout 1.5em @docs-site-edge-keepout;
		margin-left: auto;
		margin-right: auto;
		position: relative;

		a {
			text-decoration: none;
			border-bottom: 1px solid transparent;

			&:link {
				color: @docs-color-enactcyan;
			}
			&:visited {
				color: darken(@docs-color-enactcyan, 20%);
			}

			&:hover,
			&:active {
				border-bottom: 1px solid @docs-color-enactcyan;
			}
		}
	}

	.libraryList {
		h2 {
			line-height: 1.4em;
			margin-bottom: 0.2em;
		}
		ul li {
			margin-bottom: 0;
		}
	}

	section.warning {
		@border-radius: 12px;

		border: 3px solid #fc0;
		padding: 0 30px 1px;
		margin-bottom: 1em;
		border-radius: @border-radius;
		border-corner-shape: scoop;
		background-color: rgba(255, 204, 0, 0.1);
		box-shadow: 0 0px 40px 10px #fc0 inset;
		position: relative;

		h3 {
			background-color: #fc0;
			margin-top: -3px;
			margin-left: -33px;
			margin-right: -33px;
			background-image: linear-gradient(to bottom right, transparent 25%, #444 25%, #444 50%, transparent 50%, transparent 75%, #444 75%);
			background-size: 36px 60px;
			color: white;
			text-shadow: 0 0px 3px black, 0 1px 1px black;
			padding: 0 18px;
			/* border-bottom: 3px solid #444; */
			/* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.37); */
			/* letter-spacing: 0.1ex; */

			&:first-child {
				border-top-left-radius: @border-radius;
				border-top-right-radius: @border-radius;
			}
		}

		&::before {
			position: absolute;
			top: -21px;
			left: 30px;
			content: '';
			display: block;
			// background-color: #fc0;
			// width: 30px;
			// height: 30px;
			// border-left: 18px solid #fc0;
			// border-top: 18px solid transparent;
			border-corner-shape: scoop;
			.angle-right(18px, 40deg);
		}
	}

	h3 {
		font-size: 140%;
	}
	section.moduleDescription {
		margin-bottom: 1em;
	}

	section.module {
		border-radius: @docs-module-padding;
		margin-bottom: 1em;
		overflow: hidden;	// To support margins on internal components

		// Set margins on all of the top-level elements uniformly
		p, pre,
		.statics,
		.properties,
		.hocconfig {
			margin: 1em @docs-module-padding;
		}
		.componentDescription {
			font-size: 110%;

			p {
				margin-left: 0;
				margin-right: 0;
			}

			.see {
				margin-left: @docs-module-padding;
				margin-right: @docs-module-padding;
			}
		}

		// Specialized Elements
		h4 {
			line-height: 1.4em;
			border-bottom: 2px solid;
			font-size: 130%;

			.typeInHeader {
				margin-left: 1ex;
				font-size: 70%;
				font-weight: normal;
				font-style: normal;
			}
		}
		&.factory {
			h4 {
				&::before {
					background-color: @docs-color-accent3;
					background-image: url(../assets/factory.svg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 1.6em;
					content: '';
					height: 2.5em;
					width: 2.5em;
					display: inline-block;
					margin-right: 0.7ex;
					margin-bottom: -1em;
					border-radius: 99px;
					border: 3px solid white;
				}
			}
		}
		&.function {
			dl {
				display: block;
				margin-left: @docs-module-padding;
				margin-right: @docs-module-padding;
			}
		}
		h5 {
			color: @docs-color-accent2;
			border-bottom: 1px solid;
			position: relative;
			font-size: 90%;

			&::after {
				content: '';
				display: block;
				left: 30px;
				position: absolute;
				bottom: -7px;
				border: 6px solid transparent;
				border-top-color: inherit;
				border-bottom-width: 0;
			}
		}

		.code {
			font-size: 90%; // Override external styling
		}

		pre {
			padding: 1em;
			font-size: 90%; // Override external styling

			.hljs-tag {
				white-space: normal; // Override external styling for dumb overflow issue.
			}
		}

		dl {
			display: table;
			width: 100%;

			> .section > .title, dd {
				display: table-cell;

				p {
					margin-top: 0;
					margin-bottom: 0.2em;
				}
			}

			.title {
				text-align: right;
			}
			dt {
				color: @docs-color-enactcyan;
				white-space: nowrap;

				var {
					font-weight: normal;
				}
			}
			dd {
				li {
					margin-bottom: 0.5em;
					font-size: 90%;

					// For some reason, <p> tags are generated inside list items.
					// They need to be re-margined to not take up a crazy amount of space.
					> p {
						margin: 0;

						+ p {
							margin-top: 1em;
						}
					}
				}

				&:empty {
					display: none;
				}
			}

			section.function,
			section.property > * {
				border-top: 1px solid fade(black, 5%);
				padding-top: 0.5em;
				padding-bottom: 1em;
			}
			section.function:first-child,
			section.property:first-child > * {
				border-top-width: 0;
			}

			section.function {
				@sub-table-indent: @docs-module-padding * 3;

				display: block;

				h6 {
					margin: 0 0 0 @sub-table-indent;
					font-style: italic;
					color: white;
					background-color: @docs-color-accent1;
					display: inline-block;
					padding: 0 1em;
					line-height: 130%;
					vertical-align: bottom;
					border-top-left-radius: 6px;
					border-top-right-radius: 6px;
				}
				dt {
					display: block;
				}
				dd {

					&.details {
						display: flex;
						margin-left: (@docs-module-padding * 2);
						margin-right: (@docs-module-padding * 2);

						.params,
						.returns {
							flex: 1 1 50%;
							margin-bottom: 1em;

							h6 {
								margin-left: 0;
							}
							dl {
								display: block;
								margin: 0;
								padding: @docs-module-padding;
							}
							dt {
								color: @docs-color-accent1;
							}
						}
						.params dl {
							background-color: fade(@docs-color-accent1, 10%);
						}
						.returns {
							h6 {
								background-color: @docs-color-accent2;
							}
							dl {
								border-top-color: @docs-color-accent2;
								background-color: fade(@docs-color-accent2, 10%);
							}
						}
						> * {
							margin-left: (@docs-module-padding * 2);

							&:first-child {
								margin-left: 0;
							}
							dl:last-child {
								border-bottom-left-radius: 6px;
								border-bottom-right-radius: 6px;
							}
						}
					}
				}
				dl {
					margin: 0 0 1em @sub-table-indent;
					border-top: 1px solid @docs-color-accent1;
				}

				.returnType {
					&::before {
						content: '\2192';	// &rarr; - right arrow
						// content: '\21D2';	// &rarr; - double right arrow
						display: inline;
						margin: 0 1ex;
					}
				}
			}
			section.property {
				display: table-row;

				.details {
					padding-left: 4ex;
					padding-bottom: 0.2em;
				}
			}
		}

		.properties {
			section.property {
				.details {
					display: flex;

					.default {
						margin-right: auto;
					}
					.types {
						margin-left: 2ex;
					}
				}

			}
		}

		.required {
			color: red;
			position: relative;

			&::before {
				content: '';
				display: block;
				position: absolute;
				top: -15px;
				right: -12px;
				bottom: -15px;
				left: 0px;
			}

			&::after {
				background-color: red;
				border-color: darken(red, 10%);
				color: white;
			}
		}

		.deprecated {
			opacity: 0.5;
		}

		.deprecatedIcon {
			font-style: normal;
			vertical-align: text-top;
		}

		.deprecationNote {
			color: red;
		}

		.default {
			display: block;
			white-space: nowrap;

			.title {
				color: lighten(black, 70%);
				font-variant: small-caps;
				font-size: 80%;
				vertical-align: top;
			}

			.multiline {
				display: none;
				z-index: 1;
				text-align: left;
				font-family: monospace;
				font-size: 80%;
				font-style: normal;
				overflow-x: auto;
				background-color: #F0F0F4;
				padding: 1em;
				border-radius: 6px;
				box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.2);
				max-width: 90ex;
				cursor: text;
				// border: 3px solid white;
			}

			.multilineSeeMore {
				span {
					font-size: 90%;
					border: 1px dashed;
					padding: 0 2ex;
					border-radius: 999px;
					cursor: pointer;
				}

				&:hover .multiline,
				&:focus .multiline {
					display: block;
					position: absolute;
				}
			}
		}
	}

	.demo1-ball {
	  border-radius: 99px;
	  background-color: white;
	  width: 50px;
	  height: 50px;
	  border: 3px solid white;
	  position: absolute;
	  background-size: 50px;
	}
}
