// General CSS file
//

.angle-left(@height, @angle: 10deg, @color: inherit) {
	@angle-width: round(@height / tan((90deg - @angle) * pi() / 180deg));

	margin-right: @height;
	border-bottom: @height solid;
	border-bottom-color: @color;
	border-left: @angle-width solid transparent;
}
.angle-right(@height, @angle: 10deg, @color: inherit) {
	@angle-width: round(@height / tan((90deg - @angle) * pi() / 180deg));

	margin-left: @height;
	border-bottom: @height solid;
	border-bottom-color: @color;
	border-right: @angle-width solid transparent;
}
.angle-top-right(@height, @angle: 10deg, @color: inherit) {
	@angle-width: round(@height / tan((90deg - @angle) * pi() / 180deg));

	margin-left: @height;
	border-top: @height solid;
	border-top-color: @color;
	border-right: @angle-width solid transparent;
}

& {
	@docs-color-enactcyan: #5582ff;
	@docs-color-accent1: yellowgreen;
	@docs-color-accent2: #FF9800;
	@docs-color-accent3: #5dc4ff;
	@docs-balloon-bg-color: #ffdd33;
	@docs-balloon-text-color: #666;

	//
	// Elements
	//
	html {
		font-size: 14px;
	}
	body {
		color: lighten(black, 40%);
		font-family: "Museo Sans", sans-serif;
		font-size: 1em;
		font-weight: 300;
	}

	p {
		line-height: 1.5em;
		letter-spacing: 0.07ex;
	}

	*[data-tooltip] {
		position: relative;

		&::after {
			content: attr(data-tooltip);
			position: absolute;
			top: 100%;
			left: 50%;
			display: none;
			background-color: lighten(@docs-balloon-bg-color, 30%); //#ffeeaa;
			border: 1px solid @docs-balloon-bg-color;
			padding: 0 0.7em;
			font-size: 70%;
			z-index: 1;
			border-radius: 3em;
			border-top-left-radius: 0;
			color: @docs-balloon-text-color;
			pointer-events: none;
			line-height: 150%;
		}
		&:hover::after {
			display: block;
		}
	}

	.multiColumn {
		display: flex;

		.sidebar {
			position: relative;
			width: 25em;
			max-width: 30%;
			margin: 0ex 3ex 1ex -3ex;

			&:hover {
				.moduleInterface {
					transform: translateX(95%);
				}
			}

			h2,
			ul {
				font-size: 90%;
				line-height: 1.4em;
			}

			h2 {
				margin: 0 0 0.3em 0;
			}

			ul {
				list-style: none;
				margin: 0 0 0.5em 0;

				li {
					margin: 0 0 0 1ex;

					a {
						display: block;
					}
				}
			}
		}
		.modulesList {
			position: relative;
			z-index: 2;
			padding: 1ex 2ex 1ex 3ex;
			background-color: lighten(@docs-color-enactcyan, 31%);	// These % values are volatile. They should be, respectively 2 and 1 % away from white, but "relative" vs "absolute" coloring in LESS doesn't seem to work in our version.
			border-radius: 9px;
			height: 100%;
		}
		.moduleInterface {
			position: absolute;
			background-color: lighten(@docs-color-enactcyan, 32%);	// These % values are volatile. They should be, respectively 2 and 1 % away from white, but "relative" vs "absolute" coloring in LESS doesn't seem to work in our version.
			top: 0;
			left: 3px;
			bottom: 0;
			width: 100%;
			z-index: 1;
			box-shadow: 0 0 0 5px white;
			border-right: 3px solid yellowgreen;
			border-radius: 0 11px 11px 0;
			will-change: transform;
			transition: transform 200ms ease-out;
			padding: 1ex 1ex 1ex 2ex;
			transition-delay: 200ms;

			&::before {
				content: '‣';
				font-family: Monaco, Courier, "Courier New", fixed;
				display: block;
				position: absolute;
				top: 30px;
				right: 0;
				background-color: yellowgreen;
				padding: 0.25em 0.4em;
				transform: translateX(100%);
				border-radius: 0 6px 6px 0;
				color: white;
				font-weight: bold;
			}

			h2 {
				text-align: center;
				border-bottom: 1px solid fade(black, 10%);
				margin-bottom: 0.5em;
			}
		}
		.moduleBody {

		}
	}

	h1 {
		border-top: 3px solid @docs-color-accent1;
		border-radius: 1em;
		color: @docs-color-accent2;
		font-weight: 300;
		letter-spacing: 0.15ex;
		line-height: 1.6em;
		text-align: center;
		font-size: 200%;
	}

	//
	// Classes
	//
	.header {
		background-color: @docs-color-enactcyan;
		color: white;

		a {
			color: white;
			display: inline-block;
			text-decoration: none;
		}

		.siteTitle,
		.nav a {
			padding: 9px 0;
			line-height: 48px;
		}

		.siteTitle {
			font-size: 30px;
			font-weight: 100;

			a.logo {
				background: url(../assets/enact.svg) no-repeat;
				background-size: contain;
				padding-left: 60px;
			}
		}
		.nav {
			text-align: right;

			a {
				&.active {
					// background-color: fade(white, 10%);
					text-shadow: 0px 1px 4px rgba(255,255,255, 0.5);
					background-image: radial-gradient( circle, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05) );
				}
			}
		}
	}

	.article a {
		text-decoration: none;
		border-bottom: 1px solid transparent;

		&:link {
			color: @docs-color-enactcyan;
		}
		&:visited {
			color: darken(@docs-color-enactcyan, 20%);
		}

		&:hover,
		&:active {
			border-bottom: 1px solid @docs-color-enactcyan;
		}
	}

	.sectionList {
		list-style: none;
		margin-left: 0;
		text-align: center;

		li {
			position: relative;
			display: inline-block;
			border-radius: 2em;
			border: 3px solid transparent;
			margin: 0 0.5ex;

			&.active {
				border-color: transparent @docs-color-accent1;
				a {
					color: @docs-color-accent2;
				}
			}

			a {
				display: block;
				line-height: 200%;
				padding: 0 1em;

				&:hover,
				&:active {
					border-bottom-color: transparent;
				}
			}
		}
	}
	.libraryList {
		h2 {
			line-height: 1.4em;
			margin-bottom: 0.2em;
		}
		ul li {
			margin-bottom: 0;
			color: @docs-color-accent1;
		}
	}

	section.warning {
		@border-radius: 12px;

		border: 3px solid #fc0;
		padding: 0 30px 1px;
		margin-bottom: 1em;
		border-radius: @border-radius;
		border-corner-shape: scoop;
		background-color: rgba(255, 204, 0, 0.1);
		box-shadow: 0 0px 40px 10px #fc0 inset;
		position: relative;

		h3 {
			background-color: #fc0;
			margin-top: -3px;
			margin-left: -33px;
			margin-right: -33px;
			background-image: linear-gradient(to bottom right, transparent 25%, #444 25%, #444 50%, transparent 50%, transparent 75%, #444 75%);
			background-size: 36px 60px;
			color: white;
			text-shadow: 0 0px 3px black, 0 1px 1px black;
			padding: 0 18px;
			/* border-bottom: 3px solid #444; */
			/* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.37); */
			/* letter-spacing: 0.1ex; */

			&:first-child {
				border-top-left-radius: @border-radius;
				border-top-right-radius: @border-radius;
			}
		}

		&::before {
			position: absolute;
			top: -21px;
			left: 30px;
			content: '';
			display: block;
			// background-color: #fc0;
			// width: 30px;
			// height: 30px;
			// border-left: 18px solid #fc0;
			// border-top: 18px solid transparent;
			border-corner-shape: scoop;
			.angle-right(18px, 40deg);
		}
	}

	h3 {
		font-size: 140%;
	}
	section.moduleDescription {
		margin-bottom: 1em;
	}

	section.module {
		@module-padding: 12px;

		border-radius: @module-padding;
		margin-bottom: 1em;
		overflow: hidden;	// To support margins on internal components

		// Set margins on all of the top-level elements uniformly
		p, pre,
		.statics,
		.properties,
		.hocconfig {
			margin: 1em @module-padding;
		}
		.componentDescription {
			font-size: 110%;

			.see {
				margin-left: @module-padding;
				margin-right: @module-padding;
			}
		}

		// Specialized Elements
		h4 {
			padding: 0 @module-padding;
			line-height: 1.4em;
			border-bottom: 3px solid @docs-color-accent3;
			color: @docs-color-accent3;
			font-size: 130%;
			font-style: italic;

			.type {
				margin-left: 1ex;
				font-size: 70%;
				font-weight: normal;
				font-style: normal;
			}
		}
		&.factory {
			h4 {
				&::before {
					background-color: @docs-color-accent3;
					background-image: url(../assets/factory.svg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 1.6em;
					content: '';
					height: 2.5em;
					width: 2.5em;
					display: inline-block;
					margin-right: 0.7ex;
					margin-bottom: -1em;
					border-radius: 99px;
					border: 3px solid white;
				}
			}
		}
		&.function {
			dl {
				display: block;
				margin-left: @module-padding;
				margin-right: @module-padding;
			}
		}
		h5 {
			color: @docs-color-accent2;
			border-bottom: 1px solid;
			position: relative;
			font-size: 90%;

			&::after {
				content: '';
				display: block;
				left: 30px;
				position: absolute;
				bottom: -7px;
				border: 6px solid transparent;
				border-top-color: inherit;
				border-bottom-width: 0;
			}
		}

		.code {
			font-size: 90%; // Override external styling
		}

		pre {
			padding: 1em;
			font-size: 90%; // Override external styling

			.hljs-tag {
				white-space: normal; // Override external styling for dumb overflow issue.
			}
		}

		dl {
			display: table;

			dt, dd {
				display: table-cell;

				p {
					margin-top: 0;
					margin-bottom: 0.2em;
				}
			}
			dt {
				color: @docs-color-enactcyan;
				white-space: nowrap;
			}
			dd {
				li {
					margin-bottom: 0.5em;
					font-size: 90%;

					// For some reason, <p> tags are generated inside list items.
					// They need to be re-margined to not take up a crazy amount of space.
					> p {
						margin: 0;

						+ p {
							margin-top: 1em;
						}
					}
				}

				&:empty {
					display: none;
				}
			}
			.see {
				line-height: 24px;
				font-size: 90%;
				position: relative;
				background-color: fade(@docs-color-enactcyan, 20%);
				border-color: fade(@docs-color-enactcyan, 20%);
				display: inline-block;
				padding: 0 6px;
				margin-left: @module-padding;
				margin-bottom: 6px;

				&::before,
				&::after {
					position: absolute;
					content: '';
					top: 0;
				}
				&::before {
					.angle-left(24px, 20deg);
					left: 0;
					transform: translateX(-100%);
				}
				&::after {
					.angle-top-right(24px, 20deg);
					right: 0;
					transform: translateX(100%);
				}
			}

			section.function,
			section.property > * {
				border-top: 1px solid fade(black, 5%);
			}
			section.function:first-child,
			section.property:first-child > * {
				border-top-width: 0;
			}

			section.function {
				@sub-table-indent: @module-padding * 3;

				display: block;

				h6 {
					margin: 0 0 0 @sub-table-indent;
					font-style: italic;
					color: white;
					background-color: @docs-color-accent1;
					display: inline-block;
					padding: 0 1em;
					line-height: 130%;
					vertical-align: bottom;
					border-top-left-radius: 6px;
					border-top-right-radius: 6px;
				}
				dt {
					display: block;
				}
				dd {

					&.details {
						display: flex;
						margin-left: (@module-padding * 2);
						margin-right: (@module-padding * 2);

						.params,
						.returns {
							flex: 1 1 50%;
							margin-bottom: 1em;

							h6 {
								margin-left: 0;
							}
							dl {
								display: block;
								margin: 0;
								padding: @module-padding;
							}
							dt {
								color: @docs-color-accent1;
							}
						}
						.params dl {
							background-color: fade(@docs-color-accent1, 10%);
						}
						.returns {
							h6 {
								background-color: @docs-color-accent2;
							}
							dl {
								border-top-color: @docs-color-accent2;
								background-color: fade(@docs-color-accent2, 10%);
							}
						}
						> * {
							margin-left: (@module-padding * 2);

							&:first-child {
								margin-left: 0;
							}
							dl:last-child {
								border-bottom-left-radius: 6px;
								border-bottom-right-radius: 6px;
							}
						}
					}
				}
				dl {
					margin: 0 0 1em @sub-table-indent;
					border-top: 1px solid @docs-color-accent1;
				}
			}
			section.property {
				display: table-row;

				.details {
					padding-left: 1ex;
					padding-bottom: 0.2em;
					text-align: center;
					width: 20%;
					max-width: 20ex;
					min-width: 10ex;
				}
			}
		}

		.required {
			color: red;
			position: relative;

			&::before {
				content: '';
				display: block;
				position: absolute;
				top: -15px;
				right: -12px;
				bottom: -15px;
				left: 0px;
			}

			&::after {
				background-color: red;
				border-color: darken(red, 10%);
				color: white;
			}
		}

		// Type tags
		.type {
			border-radius: 3px;
			padding: 0 0.7ex;
			font-size: 90%;
			color: white;
			white-space: nowrap;
			background-color: darkslategray;
			margin: 1px 0.2ex;
			display: inline-block;
			line-height: 130%;
			position: relative;
			opacity: 0.7;  // lighten up, yo

			a {
				background-color: inherit;

				&::before {
					content: '\02B08';
					position: absolute;
					background-color: inherit;
					right: 0;
					bottom: 0;
					right: -15px;
					bottom: -6px;
					padding: 0 0.5ex 0 0.1ex;
					line-height: 1em;
					border-radius: 3px;
				}
				&:link, &:hover, &:active, &:visited {
					color: white;
					text-decoration: none;
					font-style: italic;
				}
				&:hover, &:active {
					border-bottom-style: none;
					text-decoration: underline;
				}
			}

			&.array    { background-color: #4caf50; }
			&.boolean  { background-color: #9C27B0; }
			&.function { background-color: #efd91f; }
			&.module   { background-color: #8BC34A; }
			&.number   { background-color: #00BCD4; }
			&.object   { background-color: #3f51b5; }
			&.string   { background-color: orange; }
		}

		.default {
			display: block;
			white-space: nowrap;

			.title {
				color: lighten(black, 70%);
				font-variant: small-caps;
				font-size: 80%;
				vertical-align: top;
			}

			.multiline {
				display: none;
				z-index: 1;
				text-align: left;
				font-family: monospace;
				font-size: 80%;
				font-style: normal;
				overflow-x: auto;
				background-color: #F0F0F4;
				padding: 1em;
				border-radius: 6px;
				box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.2);
				max-width: 90ex;
				cursor: text;
				// border: 3px solid white;
			}

			.multilineSeeMore {
				span {
					font-size: 90%;
					border: 1px dashed;
					padding: 0 2ex;
					border-radius: 999px;
					cursor: pointer;
				}

				&:hover .multiline,
				&:focus .multiline {
					display: block;
					position: absolute;
				}
			}
		}
	}

	.demo1-ball {
	  border-radius: 99px;
	  background-color: white;
	  width: 50px;
	  height: 50px;
	  border: 3px solid white;
	  position: absolute;
	  background-size: 50px;
	}
}
