.container {
	margin: 1.5rem 0;
	border: 1px solid var(--ifm-color-emphasis-300);
	border-radius: var(--ifm-code-border-radius);
	overflow: hidden;
}

.title {
	padding: 0.5rem 1rem;
	font-size: 0.875rem;
	font-weight: 600;
	background: var(--ifm-color-emphasis-100);
	border-bottom: 1px solid var(--ifm-color-emphasis-200);
}

.iframe {
	display: block;
	width: 100%;
	min-height: 200px;
	height: 280px;
	border: none;
}
