// DocsNav.less
//

// @import "../../css/variables.less";
@import "../../css/colors.less";
// @import "../../css/mixins.less";

.docsNav {
	background-color: rgba(0,0,0, 0.09);
	text-align: center;
	padding: 1em 0;

	ul {
		list-style: none;
		margin: 0 0 0 100px; // 100px clearance for the corner logo
	}

	li {
		position: relative;
		display: inline-block;
		margin: 0 1em;

		&.active {
			a {
				color: @docs-color-enactcyan;
			}
		}

		a {
			display: block;
			line-height: 200%;

			&:hover,
			&:active {
				border-bottom-color: transparent;
			}
		}
	}
}

@media only screen and (max-width: 546px) {
	.docsNav {
		padding-top: 5em;
	}
}
