# See http://help.github.com/ignore-files/ for more about ignoring files.

# build output
dist/

# generated types
.astro/

# editor
.idea/
.vscode/

#documentation related
data/
raw/
public/
src/content/docs/developer-guide
src/content/docs/developer-tools
src/content/docs/modules
src/data
src/pages/
static/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
