.modulesContainer {
	max-width: 960px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 1fr;
	margin: 3em;
	gap: 1rem;

	.content {
		align-items: center;
		background-color: hsl(0, 0%, 98%);
		border-radius: 10px;
		border: 1px solid hsl(0, 0%, 90%);
		color: inherit;
		display: flex;
		flex-direction: column;
		margin-top: 0;
		padding: 1rem;
		text-align: center;
		text-decoration: none;

		.image {
			height: 100px;
		}

		.title {
			font-size: 150%;

			strong {
				font-weight: 500;
			}
		}

		.version {
			font-size: 80%;
		}

		.description {
			font-size: 90%;
		}

		&:hover {
			color: #5582ff;
			cursor: pointer;
		}
	}
}

:global([data-theme='dark']) .content {
	background-color: hsl(0, 0%, 22%);
	border: 1px solid hsl(0, 0%, 35%);
}
