.modulesContainer {
	max-width: 960px;
	display: grid;
	grid-template-columns: auto auto auto;
	margin: 0 3em;

	.content {
		text-decoration: none;
		color: inherit;
		margin-top: 0;
		display: flex;
		flex-direction: column;
		padding: 0 4ex 5ex 0;

		.image {
			height: 100px;
		}

		.title {
			font-size: 150%;

			strong {
				font-weight: 500;
			}
		}

		.version {
			font-size: 80%;
		}

		.description {
			font-size: 90%;
		}

		&:hover {
			color: #5582ff;
			cursor: pointer;
		}
	}
}