// Type.less
//
@import "../../css/variables.less";
@import "../../css/colors.less";
// @import "../../css/mixins.less";

@keyframes wiggle {
	0%, 5% {
		transform: rotate(0deg);
	}
	1%, 3% {
		transform: rotate(5deg);

	}
	2%, 4% {
		transform: rotate(-5deg);
	}
}

.linkBox {
	margin: 3em 0;

	.image {
		text-align: center;
		flex: 1 3;
		margin-right: 2em;
		text-align: center;

		img {
			margin: 0;
			width: 72px;
			margin-bottom: 0.5em;
			will-change: transform;
			animation: 6s none infinite ease-in;
			transform-origin: center bottom;
		}
	}

	.contentCell {
		flex: 3 1;
	}

	&:hover .image img {
		animation-name: wiggle;
	}
}

.content {
	justify-content: space-between;
}

.cell {
	min-width: 200px;
	padding: 0.5em;
	margin: 0.25em 0;

	&:focus {
		text-decoration: underline; // Both simple-shorthand (for old browsers), and longhand below for better browsers
		text-decoration-color: @docs-link-focus-accent-color;
		text-decoration-line: underline;
		text-decoration-style: double;
	}
}

@media only screen and (max-width: @docs-mobile-breakpoint) {
	.linkBox {
		.content {
			.cell {
				padding-right: 0;
				max-width: 100%;
			}
		}
	}
}
