.sectionContent {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-block: 1.5em;
	margin-inline: auto;
	max-width: var(--section-max-width);

	.content {
		display: flex;
		flex-direction: column;
		width: 100%;

		a {
			color: inherit;
			padding-block: 0.5em;
			text-decoration: none;

			&:hover {
				color: #5582FF;
			}
		}
	}
}