.header {
	border-bottom: 1px solid;
	color: #ff9800;
	font-size: 90%;
	font-weight: 400;
}

.propContainer {
	display: flex;
	align-items: center;

}

.propSection {
	flex: 0.3;
	text-align: center;
	margin-right: 12px;
	position: relative;
}

.propHeader {
	color: #5582ff;
	font-weight: 500;
}

.propBadge {
	background-color: transparent;
	border: none;
}

.descriptionSection {
	flex: 1;
}

.defaultValue {
	color: #a8a8a8;
	font-size: 80%;
	font-variant: small-caps
}