/* Variables */

:root {
    --docs-site-max-width: 960px;
    --docs-site-edge-keepout: 24px;
    --docs-module-padding: 12px;
    --docs-anchor-width: 20px;

    --docs-header-logo-image-size: 100px;
    --docs-header-item-spacing: 10px;

    --docs-mobile-breakpoint: 546px;
}
