.headerContainer {
	--theme-select-width: 5%;

	display: flex;
	justify-content: flex-end;

	.navigationContainer {
		display: flex;
		flex: 0.8;
		justify-content: space-between;
		margin-inline: auto;
		transform: translateX(var(--theme-select-width));
		max-width: 960px;

		.navigationLinks {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.search {
				display: flex;
				justify-content: flex-end;
				width: 100%;
				margin-left: auto;
			}

			.links {
				display: flex;
				gap: 3em;

				.link {
					color: #667;
					font-weight: 500;
					line-height: 2em;
					text-transform: uppercase;
					text-decoration: none;
					font-size: 11px;

					&.home,
					&.docs,
					&.api {
						color: #5582ff;
					}
				}
			}
		}
	}

	.themeSelect {
		align-items: center;
		display: flex;
		width: var(--theme-select-width);
	}
}