/*General CSS file*/

@import "./variables.css";
@import "./colors.css";
/*@import "./mixins.css";*/
@import "./fonts.css";

& {

/*Elements*/

	html,
	body {
		position: absolute;
		min-height: 100%;
		width: 100%;
		/*overflow: hidden;*/
	}
	html {
		font-size: 14px;
	}
	body {
		background-color: var(--docs-body-bg-color);
		font-family: "EnactMuseoSans", sans-serif;
		font-size: 1em;
		font-weight: 300;
	}
	blockquote {
		background-color: rgba(139, 195, 74, 0.2);
		border-top-right-radius: 1em;
		border-bottom-left-radius: 1em;
		margin: 0.8em 1em;
		padding: 1em 0.7em;

		> :last-child {
			margin-bottom: 0;
		}
	}

	strong {
		font-weight: 500;
		color: black;
	}

	em {
		font-weight: 500;
		font-style: normal;
	}

	a:link,
	a:hover,
	a:active,
	a:visited {
		color: var(--docs-color-enactcyan);
		text-decoration: none;
	}

	:global(.covertLinks) {
		a:link,
		a:hover,
		a:active,
		a:visited {
			color: inherit;
		}
	}

	/*Regardless of the scenario, a hovered link should be enact-cyan*/
	a:hover,
	strong a:hover,
	a:hover strong,
	:global(.covertLinks) a:hover {
		color: var(--docs-color-enactcyan);
	}

	p {
		line-height: 1.5em;
		letter-spacing: 0.07ex;
	}

	*[data-tooltip] {
		position: relative;

		&::after {
			content: attr(data-tooltip);
			position: absolute;
			top: 100%;
			left: 50%;
			display: none;
			background-color: color-mix(in srgb, var(--docs-balloon-bg-color) 70%, white);
			border: 1px solid var(--docs-balloon-bg-color);
			padding: 0 0.7em;
			font-size: 70%;
			z-index: 1;
			border-radius: 3em;
			border-top-left-radius: 0;
			color: var(--docs-balloon-text-color);
			pointer-events: none;
			line-height: 150%;
		}
		&:hover::after {
			display: block;
		}
	}

	h1 {
		font-weight: 300;
		line-height: 1.6em;
		font-size: 250%;
		color: rgba(0, 0, 0, 0.6);
		margin-top: 1em;

		img {
			margin: 0 1ex 0 0;
			height: 1.5em;
			vertical-align: text-bottom;
		}

		.image {
			margin: 0 1ex 0 0;

			img {
				height: 1.5em;
				vertical-align: text-bottom;
			}
		}
	}
	.caption {
		margin: 0 0 3em;
	}

	/*Classes*/

	.article {
		max-width: var(--docs-site-max-width);
		padding: 0 var(--docs-site-edge-keepout) 1.5em var(--docs-site-edge-keepout);
		margin-left: auto;
		margin-right: auto;
		position: relative;

		a {
			text-decoration: none;
			border-bottom: 1px solid transparent;

			&:link {
				color: var(--docs-color-enactcyan);
			}
			&:visited {
				color: color-mix(in srgb, var(--docs-color-enactcyan) 80%, black);
			}

			&:hover,
			&:active {
				border-bottom: 1px solid var(--docs-color-enactcyan);
			}
		}
	}

	.libraryList {
		h2 {
			line-height: 1.4em;
			margin-bottom: 0.2em;
		}
		ul li {
			margin-bottom: 0;
		}
	}

	section.warning {
		--border-radius: 12px;

		border: 3px solid #fc0;
		padding: 0 30px 1px;
		margin-bottom: 1em;
		border-radius: var(--border-radius);
		border-corner-shape: scoop;
		background-color: rgba(255, 204, 0, 0.1);
		box-shadow: 0 0 40px 10px #fc0 inset;
		position: relative;

		h3 {
			background-color: #fc0;
			margin-top: -3px;
			margin-left: -33px;
			margin-right: -33px;
			background-image: linear-gradient(to bottom right, transparent 25%, #444 25%, #444 50%, transparent 50%, transparent 75%, #444 75%);
			background-size: 36px 60px;
			color: white;
			text-shadow: 0 0 3px black, 0 1px 1px black;
			padding: 0 18px;
			/* border-bottom: 3px solid #444; */
			/* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.37); */
			/* letter-spacing: 0.1ex; */

			&:first-child {
				border-top-left-radius: var(--border-radius);
				border-top-right-radius: var(--border-radius);
			}
		}

		&::before {
			position: absolute;
			top: -21px;
			left: 30px;
			content: '';
			display: block;
			border-corner-shape: scoop;
			/*.angle-right(18px, 40deg);*/
		}
	}

	h2 {
		margin-top: 2rem;
	}
	h3 {
		margin-top: 2rem;
		font-size: 140%;
	}
	h4 {
		margin-top: 2rem;
		font-size: 125%
	}
	h5 {
		margin-top: 2rem;
		font-size: 110%
	}
	section.moduleDescription,
	section.module {
		pre.usage {
			position: relative;

			::before {
				content: "import usage";
				position: absolute;
				top: 0;
				right: 0;
				letter-spacing: 0;
				font-size: 90%;
				padding: 0 1ex;
				border-left: 1px solid rgba(0, 0, 0, 0.1);
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);
				border-bottom-left-radius: 1ex;
				color: rgba(0,0,0,.1);
				font-weight: normal;
			}
		}
	}
	section.moduleDescription {
		margin-bottom: 1em;
	}

	section.module {
		border-radius: var(--docs-module-padding);
		margin-bottom: 1em;

		/*Set margins on all of the top-level elements uniformly*/
		p, pre,
		.constructorClass,
		.statics,
		.properties,
		.hocconfig {
			margin: 1em 0;
		}
		.componentDescription {
			font-size: 110%;

			p {
				margin-left: 0;
				margin-right: 0;
			}

			.see {
				margin-left: var(--docs-module-padding);
				margin-right: var(--docs-module-padding);
			}
		}

		/*Specialized Elements*/
		h4 {
			line-height: 1.4em;
			border-bottom: 2px solid;
			font-size: 130%;

			.typeInHeader {
				margin-left: 1ex;
				font-size: 70%;
				font-weight: normal;
				font-style: normal;
			}
		}
		&.factory {
			h4 {
				&::before {
					background-color: var(--docs-color-accent3);
					background-image: url(../assets/factory.svg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 1.6em;
					content: '';
					height: 2.5em;
					width: 2.5em;
					display: inline-block;
					margin-right: 0.7ex;
					margin-bottom: -1em;
					border-radius: 99px;
					border: 3px solid white;
				}
			}
		}
		h5 {
			color: var(--docs-color-accent2);
			border-bottom: 1px solid;
			position: relative;
			font-size: 90%;

			&::after {
				content: '';
				display: block;
				left: 30px;
				position: absolute;
				bottom: -7px;
				border: 6px solid transparent;
				border-top-color: inherit;
				border-bottom-width: 0;
			}
		}

		.code {
			font-size: 90%;
		}

		:global(.code.block) {
			white-space: pre-wrap;
		}

		pre {
			padding: 1em;
			font-size: 90%;

			.hljs-tag {
				white-space: normal;
			}
		}

		dl {
			display: block;
			margin-left: var(--docs-anchor-width);
			margin-right: var(--docs-module-padding);
			width: 100%;

			> .section > .title,
			dd {
				display: table-cell;

				p {
					margin-top: 0;
					margin-bottom: 1em;
					margin-left: var(--docs-module-padding);
				}
				blockquote > :first-child {
					margin-bottom: 0;
				}
			}

			.title {
				text-align: right;
			}
			dt {
				color: var(--docs-color-enactcyan);
				white-space: nowrap;

				var {
					font-weight: normal;
				}
			}
			dd {
				li {
					margin-bottom: 0.5em;
					font-size: 90%;

					/*For some reason, <p> tags are generated inside list items.*/
					/*They need to be re-margined to not take up a crazy amount of space.*/
					> p {
						margin: 0;

						+ p {
							margin-top: 1em;
						}
					}
				}

				&:empty {
					display: none;
				}
			}
		}

		section.function,
		section.property > * {
			border-top: 1px solid rgba(0, 0, 0, 0.05);
			padding-top: 0.5em;
			padding-bottom: 1em;
		}
		section.function:first-child,
		section.property:first-child > * {
			border-top-width: 0;
		}

		section.function,
		section.exportedFunction {
			--sub-table-indent: calc(var(--docs-module-padding) * 3);

			display: block;

			h6 {
				margin: 0 0 0 var(--sub-table-indent);
				font-style: italic;
				color: white;
				background-color: var(--docs-color-accent1);
				display: inline-block;
				padding: 0 1em;
				line-height: 130%;
				vertical-align: bottom;
				border-top-left-radius: 6px;
				border-top-right-radius: 6px;
			}
			dt {
				display: block;
			}
			dd {

				&.details {
					display: flex;
					margin-left: calc(var(--docs-module-padding) * 2);
					margin-right: calc(var(--docs-module-padding) * 2);

					.params,
					.returns {
						flex: 1 1 50%;
						margin-bottom: 1em;

						h6 {
							margin-left: 0;
						}
						dl {
							display: block;
							margin: 0;
							padding: var(--docs-module-padding);

							/*Enumerated prop objects*/
							dl {
								padding: 0;
								border-left: 3px solid var(--docs-color-accent1);

								dt {
									padding-left: 12px;
									border-top: 1px dotted;

									&:first-child {
										border-top-style: none;
									}
								}
								dd {
									p {
										margin-bottom: 0.5em;
									}
								}
							}
						}
						dt {
							color: var(--docs-color-accent1);
						}
					}
					.params dl {
						background-color: rgba(var(--docs-color-accent1), 0.1);
					}
					.returns {
						h6 {
							background-color: var(--docs-color-accent2);
						}
						dl {
							border-top-color: var(--docs-color-accent2);
							background-color: rgba(var(--docs-color-accent2), 0.1);

							dl {
								border-left-color: var(--docs-color-accent2);
							}
						}
					}
					> * {
						margin-left: calc(var(--docs-module-padding) * 2);

						&:first-child {
							margin-left: 0;
						}
						dl:last-child {
							border-bottom-left-radius: 6px;
							border-bottom-right-radius: 6px;
						}
					}
				}
			}
			dl {
				margin: 0 0 1em var(--sub-table-indent);
				border-top: 1px solid var(--docs-color-accent1);
			}

			.returnType {
				&::before {
					content: '\2192';
					display: inline;
					margin: 0 1ex;
				}
			}
		}

		section.exportedFunction {
			/*Function signature code block*/
			.signature {
				display: block;
				margin: var(--docs-site-edge-keepout) 0;

				var {
					font-style: italic;
				}
			}

			dd.details {
				margin: 0;
			}
		}

		section.property {
			display: table-row;

			.details {
				padding-left: 4ex;
				padding-bottom: 0.2em;
			}
		}

		.properties {
			section.property {
				.details {
					display: flex;

					.default {
						margin-right: auto;
					}
					.types {
						margin-left: 2ex;
					}
				}

				.title {
					.types {
						a {
							color: inherit;
						}
					}
				}
			}
		}

		.required {
			color: red;
			position: relative;
			font-style: normal;

			&::before {
				content: '';
				display: block;
				position: absolute;
				top: -15px;
				right: -12px;
				bottom: -15px;
				left: 0;
			}

			&::after {
				background-color: red;
				border-color: color-mix(in srgb, red 90%, black);
				font-style: italic;
				color: white;
			}
		}

		/*This selector is so goofy because .deprecated is applied to a "display:table", so the cells' contents need to be set, rather than the rows or cells themselves.*/
		.deprecated > * > * {
			opacity: 0.5;
		}

		.deprecatedIcon {
			font-style: normal;
		}

		.deprecatedIcon,
		.deprecationNote {
			color: red;
		}

		.default {
			display: block;
			white-space: nowrap;

			.title {
				color: color-mix(in srgb, black 30%, white);
				font-variant: small-caps;
				font-size: 80%;
				vertical-align: top;
			}

			.multiline {
				display: none;
				z-index: 1;
				text-align: left;
				font-family: monospace;
				font-size: 80%;
				font-style: normal;
				overflow-x: auto;
				background-color: #F0F0F4;
				padding: 1em;
				border-radius: 6px;
				box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.2);
				max-width: 90ex;
				cursor: text;
			}

			.multilineSeeMore {
				span {
					font-size: 90%;
					border: 1px dashed;
					padding: 0 2ex;
					border-radius: 999px;
					cursor: pointer;
				}

				&:hover .multiline,
				&:focus .multiline {
					display: block;
					position: absolute;
				}
			}
		}
	}

	.demo1-ball {
	  border-radius: 99px;
	  background-color: white;
	  width: 50px;
	  height: 50px;
	  border: 3px solid white;
	  position: absolute;
	  background-size: 50px;
	}
}
