@import './colors.css';
@import './fonts.css';

.button {
	background-color: transparent;
	border-radius: 0.4em;
	border: 2px solid var(--docs-home-button-text-color);
	color: var(--docs-home-button-text-color);
	display: inline-block;
	line-height: 2.2rem;
	padding: 0;
	text-align: center;
	width: 19ex;

	&:hover {
		background-color: var(--docs-home-button-text-color);
		color: white;
	}
}