// Page.less
//

@import "~@enact/ui/styles/mixins.less";
// @import "../../css/variables.less";

.page {
	// The way the layout works
	//
	// The .contentFrame is fit to the full available space, and flex is enabled.
	// .content is told to be allowed to stretch as tall as it wants to fill any remaining space,
	// but not to collapse to be smaller than its content. `footer` is given no instruction, so it
	// just occupies its necessary space, and doesn't expand or collapse.
	// The result is that the footer "sticks" to the bottom, but doesn't cover the content.

	.contentFrame {
		.position(0);
		position: absolute;
		overflow: auto;
		display: flex;
		flex-direction: column;

		.content {
			flex: 1;
		}
	}
}
