// Page.less
//

// @import "../../css/colors.less";
// @import "../../css/variables.less";

.page {
	.contentFrame {
		height: 100%;
		min-height: 100%;
		overflow: auto;

		.content {
		// 	position: relative;
			margin-bottom: 14em; // Height of the footer, so the content is not occluded.
		// 	height: 100%;
		}
	}
}
