/*EnactLiveEdit.css*/

.dropdownAgate {
	background-color: white;
	height: 531px;
}

.dropdown {
	background-color: black;
	height: 531px;
}

.frame {
	border: none;
	width: 100%;
	min-height: 216px;
}
